* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.pokemonCard {
  min-width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid grey;
  margin: 7px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px;
}

.pokemonInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
}

.buttons-area {
  margin-top: 10px;
}

.button-fire {
  width: 85px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: orange;
  transition: 0.1s;
}

.button-fire:hover {
  background-color: rgb(226, 147, 0);
}

.button-psychic {
  width: 85px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: plum;
  transition: 0.1s;
}

.button-psychic:hover {
  background-color: rgb(221, 112, 221);
}

.button-all {
  width: 85px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(77, 77, 255);
  transition: 0.1s;
}

.button-all:hover {
  background-color: rgb(49, 49, 255);
}

.button-next {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 182, 0);
  transition: 0.1s;
}

.button-next:hover {
  background-color: rgb(0, 165, 0);
}
