body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-decoration: underline;
}

ul {
  background: orchid;
}

li {
  line-height: 2;
}

p {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  font-style: italic;
}

.chbackground {
  background: purple;
}

#bg-yellow {
  background-color: yellow;
}

#bg-red {
  background-color: red;
}

#bg-brown {
  background-color: brown;
}